.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    filter: grayscale(100%);
    border: 2px solid black;
    border-radius: 25px;
}

footer {
    text-align: center;
    font-weight: bold;
}
